.main-page {
    font-family: Arial, sans-serif;
}
.head-menu {
    text-align: center;
}
.head-menu-item {
    display: inline-block;
    margin-right: 55px;

}

.head-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #16a085;
    font-weight: bold;
    font-size: 18pt;
}

.main-img {
    text-align: center;

}

.bg-color {
    background-color: #f5f6f7;
}

.text-name {
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22pt;
    margin-top: 59px;
    background-color: #f5f6f7;
    color: #373737;
}

.main-content {
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    margin-right: 113px;
    /*display: inline-block;*/
    margin-left: 113px;
    margin-top: 51px;
    color: #373737;
    background-color: #f5f6f7;
}

.butt {
    margin-left: 527px;

}

.main-butt {
    border: 3px solid #16a085;
    font-size: 12pt;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    width: 192px;
    height: 51px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-family: Arial, sans-serif;
    background-color: #16a085;
}

.button-text {
    font-family: Arial, sans-serif;
    font-size:  16pt;
    /*text-align: end;*/
    margin-left: 800px;

}